body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #232323;
	background: linear-gradient(to right, rgb(240,240,240), white 50%, white 70%, rgb(220,220,220));
}

h1{
	font-weight: 700;
	letter-spacing: 2px;
	color: #556588;
	font-size: 55px;
}

h3{
	text-decoration: underline;
	color: #434343;
	font-weight: 300;
}

h3:nth-of-type(1){
	text-align: left;
}

h3:nth-of-type(2){
	text-align: center;
}

h3:nth-of-type(3){
	text-align: right;
}

hr{ 
	border : 0;
	height: 1px;
	max-width: 430px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #444444;
}



.navbar{
	margin-bottom: 0px;
	border-radius: 0;
	background: #fafafa;
	/* 
	background: linear-gradient(to right, #fafafa,white 50%,#fafafa */
}

.navbar > .container-fluid .navbar-brand{
	margin-left: 15px;
}

.navbar-default .navbar-brand{
	color: #757585;
	margin: 5px 10px;
	font-weight: 800;
	font-size: 25px;
}

.nav.navbar-nav li a{
	color: #555555;
	font-weight: 600;
	margin: 5px 10px;
	font-size: 16px;
}

.container{
	max-width: 700px;
	width: 70%;
	margin: 10px auto;
}

.heading{
	text-align: center;
	color: #5e5e7e;
	font-weight: 700;
	font-size: 34px;
}

.dev-html{
	width: 120px;
	height: 120px;
	background: #333333;
	border-radius: 50%;
	color: green;
	text-align: center;
	line-height: 120px;
	font-size: 18px;
	font-weight: 600;
	/* For cool borders around circle:
	But my head started feeling,
	 dizzy just by looking at it*/
	 /*box-shadow:
	    0 0 0 10px rgb(204,204,204),
	    0 0 0 15px rgb(230,230,230); 
    margin: 30px;*/
}

.img-responsive{
	height: 320px;
}

.col-centered{
	float: none;
	margin: 30px auto;
}

.footer{
	background: #cccccc;
	padding: 1% 0;  
	text-align: center;
	letter-spacing: 1.5px;
	color: black;
}

.social{
	color: #232323;
	margin: 2%;
}

.social:hover{
	transform: scale(1.4);
}

.fa-github:hover{
	color: black;
}

.fa-linkedin:hover{
	color: #0077B5;
}

.fa-twitter:hover{
	color: #4AB3F4;
}

.fa-quora:hover{
	color: #a62100;
}


#landing-page{
	padding: 22% 0;
	text-align: center;
	background: url('../images/anders-jilden-snow.jpg');
	background-repeat: none;
	background-size: cover;
	color: black;
}

#about-me{
	margin-top: 15px;
	text-align: center;
	padding-top: 40px;
	font-size: 17px;
}


#profile-picture img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 30px;
}

#skills{
	padding: 40px 0;
}

#contact{
	padding-bottom: 2%;
}
