body{
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: #232323;
	background: linear-gradient(to right, rgb(240,240,240), white 50%, white 70%, rgb(220,220,220));
	position: relative;
}

h1{
	font-weight: 700;
	letter-spacing: 2px;
	color: #556588;
	font-size: 55px;
}

h3{
	text-decoration: underline;
	color: #434343;
	font-weight: 300;
}

/* h3:nth-of-type(1){
	text-align: left;
}

h3:nth-of-type(2){
	text-align: center;
}

h3:nth-of-type(3){
	text-align: right;
 */}

hr{ 
	border : 0;
	height: 1px;
	max-width: 430px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #444444;
}



.navbar{
	margin-bottom: 0px;
	border-radius: 0;
	background: #fafafa;
	/* 
	background: linear-gradient(to right, #fafafa,white 50%,#fafafa */
}

.navbar > .container-fluid .navbar-brand{
	margin-left: 15px;
}

.navbar-default .navbar-brand{
	color: #757590;
	margin: 5px 10px;
	font-weight: 800;
	font-size: 25px;
}

.nav.navbar-nav li a{
	color: #555555;
	font-weight: 600;
	margin: 5px 15px;
	font-size: 16px;
}

.container{
	max-width: 700px;
	width: 70%;
	margin: 10px auto;
}

.heading{
	text-align: center;
	color: #5e5e7e;
	font-weight: 700;
	font-size: 34px;
}

.dev-html{
	width: 100px;
	height: 100px;
	background: #333333;
	border-radius: 50%;
	color: green;
	text-align: center;
	line-height: 100px;
	font-size: 17px;
	font-weight: 600;
	/* For cool borders around circle:
	But my head started feeling,
	 dizzy just by looking at it*/
	box-shadow:
	    0 0 0 10px rgb(204,204,204),
	    0 0 0 15px rgb(230,230,230); 
    margin: 15px;
}

.img-responsive{
	height: 320px;
}

.col-centered{
	margin-bottom: 30px;
}

.footer{
	background: #cccccc;
	padding: 1% 0;  
	text-align: center;
	letter-spacing: 1.5px;
	color: black;
}

.social{
	color: #232323;
	margin: 2%;
}

.social:hover{
	transform: scale(1.4);
}

.fa-github:hover{
	color: black;
}

.fa-linkedin:hover{
	color: #0077B5;
}

.fa-twitter:hover{
	color: #4AB3F4;
}

.fa-quora:hover{
	color: #a62100;
}


#landing-page{
	padding: 22% 0;
	text-align: center;
	background: url('../images/anders-jilden-snow.jpg');
	background-repeat: none;
	background-size: cover;
	color: black;
}

#about-me{
	margin-top: 15px;
	text-align: center;
	padding-top: 40px;
	font-size: 17px;
}


#profile-picture img{
	width: 190px;
	height: 190px;
	border-radius: 50%;
	margin-bottom: 30px;
}

#skills, #projects{
	margin-top: 15px;
	padding: 40px 0;
}

#contact{
	padding-bottom: 2%;
}


a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-one:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
